html
  head
  style. 
     body{
      background-color:#00000075;
     display:flex 
      }
      
      .numbers {
          padding:10px;
         display:flex;
         border :10px;
          
      }

    title= title
  body
 
   .allPRimeNumbers
      .numbers #{number1}
      .numbers #{number2}
      .numbers #{number3}
      .numbers #{number4}
      .numbers #{number5}
      .numbers #{number6}
      .numbers #{number7}
      .numbers #{number8}
      .numbers #{number9}
      .numbers #{number10}
       